<div>
	<div class="row">
        <div class="col-md-2" ng-repeat="directory in directories">
            <a href="/picture/directory{{directory.path}}" type="button" class="btn btn-primary">
                {{directory.name}}
            </a>
		</div>
		<div class="col-md-2" ng-repeat="video in videos">
			<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myVideo"
				ng-click="previewVideo(video.name, video.path);"
				style="width:150px; word-break:break-all; text-overflow:ellipsis; overflow:hidden;">
				{{video.name}}
			</button>
		</div>
		<div class="col-md-2" ng-repeat="thumbnail in thumbnails">
            <img data-original="/picture/thumbnail{{thumbnail.path}}" alt="{{thumbnail.name}}" class="img-thumbnail lazy"
                ng-click="previewImage(thumbnail.name, thumbnail.path);" data-toggle="modal" data-target="#myModal"
				width="150px" height="150px" image-lazy-load />
		</div>
	</div>
</div>

<!-- Preview Picture -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
            <div class="modal-body">
                <img ng-if="previewImagePath" ng-src="/picture/image{{previewImagePath}}" alt="{{previewImageName}}" width="100%" />
            </div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- Preview Video -->
<div class="modal" id="myVideo"  tabindex="-1" role="dialog" aria-labelledby="myVideoLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div id="video" class="modal-body"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
