<!DOCTYPE html>
<meta http-equiv="Content-Type" Content="text/html; charset=utf-8" />
<h3>Create Menu</h3>
<form ng-submit="createMenu()">
	메뉴명: <input type="text" ng-model="Menu.title" /><br/>
	링크: <input type="text" ng-model="Menu.link" /><br/>
	노출:
	<select ng-model="Menu.visibility" ng-options="option.id as option.name for option in visibility track by option.id">
		<option value="">유형을 선택하세요.</option>
	</select><br/>
	순서: <input type="number" ng-model="Menu.order" /><br/>
	<button type="submit">등록</button>
</form>